[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
requests = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
